@model List<Cliente>

<h2>Lista de clientes</h2>

<p>
    <a class="btn btn-primary" asp-controller="Cliente" asp-action="Create">Cadastrar Cliente</a>

    <table class="table">
    <tr>
        <td>Id</td>
        <td>Nome</td>
        <td>Email</td>
        <td>Telefone</td>
    </tr>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Id</td>
                <td>@c.Nome</td>
                <td>@c.Email</td>
                <td>@c.Telefone</td>
            </tr>
            
        }

</table>



</p>

