@model Chamado
@{
    var clientes = ViewBag.Clientes as List<ChamadoApp.Models.Cliente>;
    
}

<h2>Novo Chamado</h2>
<form asp-action="Create" method="post">
   
    <label asp-for="Titulo"></label>
    <input asp-for="Titulo" class="form-control" />

    <label asp-for="Descricao"></label>
    <label asp-for="Descricao" class="form-control"></label>
   
    <label asp-for="Status"></label>
    <input asp-for="Status" class="form-control" />
    
    <label>Cliente</label>
    <select asp-for="ClienteId" class="form-control">
        @foreach (var c in clientes)
        {
            <option value="@c.Id">@c.Nome</option>
        }
    </select>
    <button type="submit">Salvar</button>
</form>






